.interventions-options-bar {

	height: 50px;
	width: 100%;

	border-top: 1px solid lightgray;

	box-shadow: 0 3px 6px rgba(0,0,0,0.13), 0 3px 6px rgba(0,0,0,0.20);

	background-color: white;

	display: flex;
	justify-content: flex-start;

	position: relative;
	overflow: hidden;

	z-index: 1;

}

.interventions-options-bar-mobile {

	justify-content: space-between;

}

.interventions-options-bar > div {

	height: inherit;

}

.interventions-options-bar > div > * {

	float: left;

}

.interventions-options-bar > div:first-child > * {

	border-right: 1px solid lightgray;

}

.interventions-options-bar > div:last-child > * {

	border-left: 1px solid lightgray;

}

.iob-sticky {

	position: fixed;

	top: 70px;
	left: 300px;

}

.iob-sticky-mobile {

	left: 0;

}
