#interventions-add-card-container {

	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;


}

.interventions-add-card {

	height: 440px;
	width: 300px;

	background-color: #FFF;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	border-top: 1px solid #E2E2E2;
	border-radius: 3px;

	margin-bottom: 40px;

	transition: transform 0.3s cubic-bezier(.25,.8,.25,1);
	will-change: transform;

}

.iac-title-container {

	height: 80px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: "Roboto", "open sans", "sans serif";
	color: #7F7F7F;
	font-size: 16px;
	font-weight: bolder;
	text-transform: uppercase;

	border-bottom: 1px solid lightgray;

}

.iac-content {

	height: calc(100% - 80px);
	padding: 20px 10px;

	display: flex;
	justify-content: center;
	align-items: space-between;
	flex-wrap: wrap;

}

.iac-buttons {

	width: 100%;

	margin-top: 10px;

	display: flex;
	justify-content: center;
	align-items: center;

}

.iac-buttons > * {

	width: 45%;

	margin: 0 5px !important;

}
