.interventions-wrapper {

	height: auto;
	width: 100%;

	background-color: white;

	padding: 50px 40px;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

.interventions-wrapper-with-extra-padding {

	padding-top: 100px;

}
