.intervention-card {

	height: 200px;
	width: 100%;

	border-top: 1px solid #E2E2E2;
	border-radius: 3px;

	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

	margin-bottom: 20px;

	-webkit-transform: none;
	transform: none;
	transition: transform 300ms linear;

}

.intervention-card:last-child {

	margin-bottom: 0;

}
