#isp-content-loading {

	height: calc(100% - 100px);
	width: 100%;

	font-style: italic;
	font-family: 'Roboto', 'open sans', 'sans serif';

	display: flex;
	justify-content: center;
	align-items: center;

}
