.home-faq-section {

	width: 100%;

	border-bottom: 1px solid lightgray;

	transition: .3s;

	overflow: hidden;

}

.home-faq-section-visible-container,
.home-faq-section-hidden-container	{

	width: 100%;

	

}
