.atomic-button-container,
.atomic-button-label {

	transition: .3s;

}

.atomic-button-container {

	padding: 8px 15px;

	border: 1.5px solid rgba(0, 0, 0, .4);

	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;

}

.atomic-button-container > div {

	margin-right: 10px;

	display: flex;
	justify-content: center;
	align-items: center;

}

.atomic-button-container > div:last-child {

	margin: 0;

}

.atomic-button-container:hover {

	cursor: pointer;

	background-color: rgba(0, 0, 0, .8);

}

.atomic-button-container:hover > .atomic-button-label {

	color: #FFF !important;

}

.atomic-button-container:hover svg {

	fill: #FFF !important;

}

.atomic-button-label {

	font-family: 'Roboto', 'open sans', 'sans serif', 'Raleway';

	color: rgba(0, 0, 0, .8);

}
