.lp-container {

	position: relative;

}

.lp-predictions-container {

	width: 100%;

	z-index: 1;

	background-color: #FFF;

	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	position: absolute;
	top: 50px;
	left: 0;

}
