#home-container {

	height: 100%;
	width: 100%;

	background-color: #EFEFEF;

}

#home-nav-bar {

	height: 100px;
	width: calc(100% - 120px);

	position: fixed;

	top: 0;
	left: 0;

	padding: 0 60px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	z-index: 1;

}

#home-nav-bar-logo > span {

	font-family: 'Raleway', 'open sans', 'Raleway', 'sans serif';
	font-weight: bolder;
	font-size: 30px;

	color: white;
	text-transform: uppercase;

}

#home-nav-bar-navigation {

	height: 60px;

	display: flex;
	justify-content: center;
	align-items: center;

}

.home-nav-bar-tab {

	padding-bottom: 5px;

	font-family: 'Roboto', 'open sans', 'sans serif', 'Raleway';
	color: white;
	font-size: 16px;

	padding: 0 5px;

	padding: 10px;

	margin-left: 10px;

}

.home-nav-bar-tab:hover {

	padding-bottom: 8px;
	border-bottom: 2px solid white;

	cursor: pointer;

}

.home-nav-bar-tab-active {

	padding: 8px !important;

	border: 2px solid lightgray;

	transition: .3s;

}

.home-nav-bar-tab-active:hover {

	background-color: white;
	border: 2px solid white;

	color: black;

}

#home-banner {

	height: 550px;
	width: 100%;

	position: relative;

	font-family: 'Raleway', 'open sans', 'Roboto', 'sans serif';

	border-bottom: 1px solid lightgray;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}

#home-banner-darken {

	height: 100%;
	width: 100%;

	position: absolute;

	top: 0;
	left: 0;

	background-color: #585B65;
	background: linear-gradient(135deg, #585b64 0%, #2c2f38 70%);

	opacity: .9;

}

#home-banner-content-container {

	height: 100%;
	width: 100%;

	position: absolute;

	top: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

}

#home-banner-content > div {

	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	color: white;

}

#home-banner-title {

	font-size: 50px;
	font-weight: bolder;

	color: white;

	text-transform: uppercase;

	margin-bottom: 10px;

}

#home-banner-description {

	font-family: 'open sans', 'Roboto', 'sans serif', 'Raleway';
	font-size: 20px;

	margin-bottom: 50px;

}

#home-banner-buttons > div:first-child {

	margin-right: 20px;

}

#home-cvb-container {

	height: 60px;

	box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 10px, rgba(0, 0, 0, 0.14) 0px 3px 10px;

	background-color: white;

	padding: 0 30px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	position: relative;

	z-index: 1;

}

#home-cvb-navigation {

	height: 100%;
	width: 200px;

}

#home-cvb-tabs {

	height: calc(100% - 3px);
	width: 100%;

}

.home-cvb-tab {

	height: 100%;
	width: 100px;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	font-family: 'Roboto', 'open sans', 'sans serif', 'Raleway';
	color: rgba(0, 0, 0, .5);

	float: left;

}

.home-cvb-tab-active {

	font-weight: bolder;

}

.home-cvb-tab:hover {

	cursor: pointer;

}

#home-cvb-ink-bar-container {

	height: 3px;
	width: 100%;

}

#home-cvb-ink-bar {

	height: 100%;
	width: 100px;

	background-color: #4298D1;

	transition: .3s;

}
