.nav-bar-above,
.nav-bar-below {

	position: fixed !important;

	top: 0;
	left: 0;

}

.nav-bar-above {

	height: 100px !important;

	background-color: transparent !important;

	box-shadow: none !important;

}

.nav-bar-above,
.nav-bar-above .nav-bar-tab,
.nav-bar-above #nav-bar-logo > span {

	color: white;

}

.nav-bar-above .nav-bar-tab-active {

	border: 2px solid lightgray;

}

.nav-bar-above .nav-bar-tab-active:hover {

	background-color: white;
	border: 2px solid white;

	color: black;

}
