#interventions-view-wrapper {

	height: 100%;
	width: 100%;

}

#interventions-view-wrapper > * {

	float: left;

}

#interventions-view-content-wrapper {

	height: auto;
	max-height: calc(100% - 70px);
	width: calc(100% - 300px);

	overflow: auto;

}
