#live-chat-desktop-side-panel-technical-adviser-container {

	width: 100%;

	border-bottom: 1px solid lightgray;

	padding: 0 30px;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	transition: .3s;

}

#live-chat-desktop-side-panel-technical-adviser-container:hover {

	cursor: pointer;

}

#live-chat-desktop-side-panel-technical-adviser {

	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

}

#live-chat-desktop-side-panel-technical-adviser-picture-container {

	height: 60px !important;
	width: 60px !important;

	border-radius: 100px;

	padding: 2px;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	border: 1px solid #E2E2E2;

}

#live-chat-desktop-side-panel-technical-adviser-picture {

	height: 100%;
	width: 100%;

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	border-radius: 100px;

}

#live-chat-desktop-side-panel-technical-adviser-name {

	font-size: 20px;
	color: rgba(0, 0, 0, .6);

}

#live-chat-desktop-side-panel-technical-adviser-extend {

	height: 30px;

	transition: .3s;

}

#live-chat-desktop-side-panel-technical-adviser-extend svg {

	min-height: 30px !important;
	width: auto !important;

}
