#live-chat-desktop-side-panel {

	height: calc(100% - 70px);
	width: 300px;

	border-right: 1px solid lightgray;

	background-color: white;

	float: left;

}

.live-chat-desktop-side-panel-section-name {

	height: 20px;
	width: 100%;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	text-transform: uppercase;
	font-family: 'Roboto', 'open sans', 'sans serif';
	color: rgba(0, 0, 0, .6);
	font-size: 12px;

	margin: 20px 0;

}

#live-chat-desktop-side-panel-search-container {

	height: 100px;
	width: 100%;

	padding: 30px 20px;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	border-bottom: 1px solid lightgray;

}

#live-chat-desktop-side-panel-search {

	height: 35px;
	width: 100%;

	border: 1px solid lightgray;
	border-radius: 3px;

	background-color: #FAFAFA;

}

#live-chat-desktop-side-panel-search > * {

	height: 100%;

	float: left;

}

#live-chat-desktop-side-panel-search > div {

	width: 50px;

	display: flex;
	justify-content: center;
	align-items: center;

}

#live-chat-desktop-side-panel-search > input {

	width: calc(100% - 50px);

	font-family: 'Roboto', 'open sans', 'sans serif';
	color: rgba(0, 0, 0, .5);

	border: none !important;
	box-shadow: none !important;

	padding: 0 !important;

	background-color: transparent !important;

}

#live-chat-desktop-side-panel-scollable {

	height: calc(100% - 100px);
	width: 100%;

	display: inline-block;

	overflow-y: overlay;

}

#live-chat-desktop-side-panel-scollable::-webkit-scrollbar {

	width: 12px;
	background-color: #F5F5F5;

	display: none;

	transition: .3s;

}

#live-chat-desktop-side-panel-scollable::-webkit-scrollbar-track {

	background-color: #F5F5F5;

	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;

}

#live-chat-desktop-side-panel-scollable::-webkit-scrollbar-thumb {

	background-color: rgba(0, 0, 0, .35);

}

#live-chat-desktop-side-panel-scollable:hover::-webkit-scrollbar {

	display: block;

}
